.sponTable{
	width:980px;
	table-layout:fixed;
}

.sponLeft{
	float:left;
	width:570px;
}
/* 내용, 조건, 전화번호 css */
.sponRight {
	float:right;
	margin-top:30px;
	margin-left:50px;
	width:320px;
}

.backedLeft{
	float:left;
	width:600px;
}

#rightContent{
	width: 100%;
}

.sponimg {
	
	background-color: #F6F6F6;
}
.backedimg {
	
	background-color: #F6F6F6;
}
/* 제목 css */
.sponimg p{
	padding-left: 10px;
	font-size: 25px;
	font-color : #000000;
	font-weight: bold;
}

.backedimg p{
	padding-left: 10px;
	font-size: 25px;
	font-color : #000000;
	font-weight: bold;
}




