<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">

<select id="idCheck" parameterType="busker.scan.vo.MemberVO" resultType="busker.scan.vo.MemberVO"> 
<!-- 	select * from member where memEmail=#{memEmail} AND memPw= ENCRYPTION_AES.ENC_AES(#{memPw}) AND memStatus!='0' -->
	select * from member where memEmail=#{memEmail} AND memPw= #{memPw} AND memStatus!='0'
</select>

<select id="idchecked" parameterType="busker.scan.vo.MemberVO" resultType="busker.scan.vo.MemberVO"> 
	select * from member where memEmail=#{memEmail}
</select>

<insert id="insertMember" parameterType="busker.scan.vo.MemberVO">

<!-- simplejoin -->
	 	<if test="memTeamName eq null">
<!-- 		INSERT INTO member(mememail, mempw, memnick, memphone, memstatus, memtype) VALUES(#{memEmail}, ENCRYPTION_AES.ENC_AES(#{memPw}), #{memNick}, #{memPhone}, #{memStatus}, #{memType}) -->
		INSERT INTO member(mememail, mempw, memnick, memphone, memstatus, memtype) VALUES(#{memEmail}, #{memPw}, #{memNick}, #{memPhone}, #{memStatus}, #{memType})
	</if>
	<!-- 파일업로드 회원가입 -->
	<if test="memTeamName neq null">
<!-- 		INSERT INTO member(mememail, mempw, memphone, memteamtype, memteamname, memvideo, memdetail, memstatus, memtype, memteamphoto)  -->
<!-- 		VALUES(#{memEmail}, ENCRYPTION_AES.ENC_AES(#{memPw}), #{memPhone},'${memTeamType}', #{memTeamName}, #{memVideo}, #{memDetail}, #{memStatus}, #{memType}, #{memTeamPhoto}) -->
	INSERT INTO member(mememail, mempw, memphone, memteamtype, memteamname, memvideo, memdetail, memstatus, memtype, memteamphoto) 
		VALUES(#{memEmail}, #{memPw}, #{memPhone},'${memTeamType}', #{memTeamName}, #{memVideo}, #{memDetail}, #{memStatus}, #{memType}, #{memTeamPhoto})
	</if>
</insert>

<update id="deleteMember" parameterType="busker.scan.vo.MemberVO">
UPDATE member SET memStatus='0' WHERE memEmail=#{memEmail} AND memPw=ENCRYPTION_AES.ENC_AES(#{memPw})
</update>

<select id="simpleIdSearch" parameterType="busker.scan.vo.MemberVO" resultType="busker.scan.vo.MemberVO">
SELECT *FROM member WHERE memPhone=#{memPhone} AND memType='1' AND memStatus ='1'
</select>

<select id="buskerIdSearch" parameterType="busker.scan.vo.MemberVO" resultType="busker.scan.vo.MemberVO">
SELECT * FROM member WHERE memPhone=#{memPhone} AND memTeamName=#{memTeamName} AND memType='2' AND memStatus='1'
</select>

<select id="searchPw" parameterType="busker.scan.vo.MemberVO" resultType="busker.scan.vo.MemberVO">
<!-- SELECT ENCRYPTION_AES.DEC_AES(mempw) memPw FROM member WHERE memPhone=#{memPhone} AND memEmail=#{memEmail} -->
</select>

<update id="updateSimple" parameterType="busker.scan.vo.MemberVO">
UPDATE member SET mempw=ENCRYPTION_AES.ENC_AES(#{pw}), memphone=#{tel} WHERE memEmail=#{Email}
</update>

<update id="updateBusker" parameterType="busker.scan.vo.MemberVO">
UPDATE member SET mempw=ENCRYPTION_AES.ENC_AES(#{memPw}), memphone=#{memPhone}, memTeamName=#{memTeamName}, memTeamType=#{memTeamType}, memVideo=#{memVideo}, memDetail=#{memDetail}, memTeamPhoto=#{memTeamPhoto} where memEmail=#{memEmail}
</update>

<update id="updateSimpleToBusker" parameterType="busker.scan.vo.MemberVO">
UPDATE member SET memTeamName=#{memTeamName}, memTeamType=#{memTeamType}, memVideo=#{memVideo}, memDetail=#{memDetail}, memTeamPhoto=#{memTeamPhoto}, memtype='2' where memEmail=#{memEmail}
</update>

</mapper>
