<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="show">

<insert id="insertShow" parameterType="busker.scan.vo.ShowVO">
	INSERT INTO show(shno,mememail,shteamname,shvideo,shname,shmapcoords,shmapaddr,shmapdetail,shdate,shtime,shtype,shdetail)
	VALUES(seq_show.nextval,#{memEmail},#{shTeamName},#{shVideo},#{shName},#{shMapCoords},#{shMapAddr},#{shMapDetail},#{shDate},#{shTime},#{shType},#{shDetail})
</insert>

<select id="selectShow" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
   select * from show where shdate=to_char( sysdate, 'YYYY/MM/DD' ) 
   <choose>
      <when test="second neq null">
         and shmapaddr LIKE '%' || #{second} || '%'
      </when>
      <otherwise>
         and shmapaddr LIKE '%' || #{first} || '%'
      </otherwise>
   </choose>
</select>

<select id="selectShow2" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
SELECT * 
FROM (select  rownum as rnum , shno,mememail,shteamname,shvideo,shname,shmapcoords,shmapaddr,shmapdetail,shdate,shtime,shtype,shdetail 
	  FROM show  
	  WHERE shdate=to_char( sysdate, 'YYYY/MM/DD' ) and shmapaddr LIKE '%' || #{first} || '%' ORDER BY shno DESC) 
WHERE  rnum BETWEEN  ((#{curPage}-1)*2)+1  AND #{curPage}*2
</select>	

<!-- loc들어왔을 때 row 갯수 가져오기 -->
<select id="showLocCount" parameterType="String" resultType="int">
	SELECT count(shno)
	FROM show
	where shdate=to_char( sysdate, 'YYYY/MM/DD' ) and shmapaddr LIKE '%' || #{first} || '%'
</select>

<select id="selectShow3" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
	select * from show where shno=#{first}
</select>
<select id="selectShowSearch" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
	select * 
	FROM (SELECT  rownum as rnum , shno,mememail,shteamname,shvideo,shname,shmapcoords,shmapaddr,shmapdetail,shdate,shtime,shtype,shdetail 
	  	  FROM show  
	  	  WHERE shdate=#{date}
	  	  	<choose>
				<when test="val neq null and select eq 0">
				and shTeamName LIKE '%'|| #{val} ||'%'
				</when> 
				<when test="val neq null and select eq 2">
				and shmapaddr LIKE '%' || #{val} || '%'
				</when>
			 	<when test='val neq "0" and select eq 1'>
			 	and shType = #{val}
				</when>
				<when test='val eq "0" and select eq 1'>
				and shType not in ('노래','마술','댄스','연주','마술','퍼포먼스')
				</when>
				<otherwise>
			
				</otherwise>
			</choose>
	  	  ORDER BY shno DESC)
	WHERE rnum BETWEEN  ((#{curPage}-1)*2)+1  AND #{curPage}*2

</select>

<!-- 검색했을 때 count -->
<select id="showSearchCount" parameterType="hashmap" resultType="int">
SELECT count(shNo)
FROM show
WHERE shdate=#{date} 
<choose>
	<when test="val neq null and select eq 0">
	and shTeamName LIKE '%'|| #{val} ||'%'
	</when> 
	<when test="val neq null and select eq 2">
	and shmapaddr LIKE '%' || #{val} || '%'
	</when>
 	<when test='val neq "0" and select eq 1'>
 	and shType = #{val}
	</when>
	<when test='val eq "0" and select eq 1'>
	and shType not in ('노래','마술','댄스','연주','마술','퍼포먼스')
	</when>
	<otherwise>

	</otherwise>
	</choose>
</select>

<select id="selectShowByNum" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
SELECT * FROM show WHERE shNo=#{shNo}
</select>


<select id="myShowCount" parameterType="String" resultType="int">
SELECT count(shno) FROM show WHERE memEmail=#{memEmail}
</select>

<select id="selectShowByEmail" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
SELECT *
FROM (select shno,mememail,SHTEAMNAME,substr(SHVIDEO,-11) as shVideo,SHNAME
				,SHMAPCOORDS,SHMAPDETAIL,SHDATE,SHTIME,SHTYPE,SHDETAIL 
				from show 
				where mememail=#{email}
				order by shdate desc
	  ) 
WHERE rownum  BETWEEN ((#{curPage}-1)*9)+1  AND #{curPage}*9
</select>

<!-- 수정하기 -->
<update id="updateShow" parameterType="ShowVO" >
UPDATE show
SET shteamname=#{shTeamName}, shvideo = #{shVideo}, shname=#{shName} ,shmapcoords=#{shMapCoords} ,
	shmapaddr=#{shMapAddr} ,shmapdetail=#{shDate} ,shdate=#{shDate},shtime=#{shTime},shtype=#{shType},shdetail=#{shDetail}
WHERE shno = #{shNo}
</update>

<!-- 삭제하기 -->
<delete id="deleteShow" parameterType="int">
DELETE FROM show
WHERE shno=#{shNo}
</delete>
<!-- 공연등록하고 공연리스트로 넘어갈때 값 가져오기 -->
<select id="selectShow4" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
SELECT * 
FROM SHOW
WHERE mememail=#{email} and shvideo=#{videoURL} and shmapcoords=#{coords}
</select>

</mapper>