<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="show">

<insert id="insertShow" parameterType="busker.scan.vo.ShowVO">
	INSERT INTO show(shno,mememail,shteamname,shvideo,shname,shmapcoords,shmapaddr,shmapdetail,shdate,shtime,shtype,shdetail)
	VALUES(seq_show.nextval,#{memEmail},#{shTeamName},#{shVideo},#{shName},#{shMapCoords},#{shMapAddr},#{shMapDetail},#{shDate},#{shTime},#{shType},#{shDetail})
</insert>

<select id="selectShow" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
	select * from show where shdate=to_char( sysdate, 'YYYY/MM/DD' ) 
	<choose>
		<when test="second neq null">
			and shmapaddr LIKE '%' || #{second} || '%'
		</when>
		<otherwise>
			and shmapaddr LIKE '%' || #{first} || '%'
		</otherwise>
	</choose>
</select>
<select id="selectShow2" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
	select * from show where shdate=to_char( sysdate, 'YYYY/MM/DD' ) and shmapaddr LIKE '%' || #{first} || '%'
</select>

<select id="selectShow3" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
	select * from show where shno=#{first}
</select>
<select id="selectShowSearch" parameterType="hashmap" resultType="busker.scan.vo.ShowVO">
	select * from show where shdate=#{date} 
	<choose>
	<when test="val neq null and select eq 0">
	and shTeamName LIKE '%'|| #{val} ||'%'
	</when> 
	<when test="val neq null and select eq 2">
	and shmapaddr LIKE '%' || #{val} || '%'
	</when>
 	<when test='val neq "0" and select eq 1'>
 	and shType = #{val}
	</when>
	<when test='val eq "0" and select eq 1'>
	and shType not in ('노래','마술','댄스','연주','마술','퍼포먼스')
	</when>
	<otherwise>

	</otherwise>
	</choose>
</select>
</mapper>