@CHARSET "UTF-8";

#join_temp{border:1px solid #999999; padding:10px; width:700px; margin-left:140px; font-family:inherit;}
#join_temp .join_img{width:140px; height: 140px; margin-left:130px;}
#join_temp .join_img:hover{opacity: 0.6; filter: alpha(opacity=60);}
#join_temp>p{font-weight: bold; font-family:inherit; font-size:15px; margin-top:20px; margin-bottom:10px; padding-left:158px;}
#join_temp>p>span#temp_span{margin-right:182px;}