@CHARSET "UTF-8";

#simple_title{font-weight: bold; font-family: inherit; margin-left:100px; margin-bottom:30px;}
form#simpleJoinForm{width:680px; margin-left:150px;}
form#simpleJoinForm input{height: 43px;}
#simpleEmail{width:580px;}
#emailCheckBtn{float: right; position: relative; bottom:43px; height: 43px;}
#submitBtn{margin-left:230px; margin-right:15px;}