@CHARSET "UTF-8";

#update_title{font-weight: bold; font-family: inherit; margin-left:100px; margin-bottom:30px;}
#updateForm{width:680px; margin-left:150px;}
.form-group input{height: 43px;}
#checkbox input{width:20px; float: left;}
textarea{margin-bottom:20px;}
#buttonGroup{float: right;}