.detail{
	background-color:white;
}
#moveToFormBtn{
	float:right;
}
.marginTop50{
	margin-top:50px;
}
.marginLeft{
	margin-left:10px;
}
.marginRight{
	margin-right:15px;
}
#viewImg{
	width:600px;
	height:350px;
}
/* #tableTdmargin td{
	padding-top:30px;
} */
.floatRight{
	float:right;
}
 