.floatRight{
	float:right;
}
.marginBottom{
	margin-bottom:30px;
}
#noticeView{
	 border: 3px solid #D5D5D5;
	   border-radius: 25px;
	 
}
.marginTop30{
	margin-top:30px;
}
.marginRight{
	margin-right:20px;
}
 