@CHARSET "UTF-8";

#simple_title{font-weight: bold; font-family: inherit; margin-left:100px; margin-bottom:50px;}
#telForm{width:680px; margin-left:150px;}
#simpleIdSearchForm input{height: 43px;}
#telForm{margin-top:50px;}
#submitBtn{width:90px; text-align: center; margin-left:590px; margin-top:30px;}