@CHARSET "UTF-8";

.videothumb{
}

.toptablemenu{
	font-family: arial, sans-serif;
    border-collapse: collapse;
}
.toptablemenu td, tr{
    text-align: left;
    padding: 8px;
}

.sidenav {
    width: 0;
    position: absolute;
     top: 105px;
    right: 0; 
/*     z-index: 1; */
    /* background-color: #ffc19e; */
    transition: 0.5s;
    float:right;
    overflow-y: auto;
}
#p_font{
	margin-bottom:20px;
}

.videoContent{
	float:left;
}
#mySidenav{
	float:right;
	padding-top:32px;
}
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    display: block;
    transition: 0.3s;
    height:100%;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 80;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#movieBtn{
	position: relative; left:745px; top:20px;
}


@media screen and (max-height: 400px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 1000px){
	#mySidenav{display:none}
}


pre{
	margin-top:20px; margin-left:10px; font-family: arial, sans-serif; width:627px; white-space: pre-line;
}

.newlabel{margin-left:8px;}
